/* seletor de todos */
/* Soft Reset do CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Nome da tag */
body {
	background-image:url('https://image.freepik.com/vetores-gratis/fundo-branco-conceito-geometrico-de-medico_1017-15462.jpg');
	background-size: auto 100vh;
	font-family: Arial;
	height: 100vh;
}

/* Class */
.menu {
	background-color: white;
}

/* ler da direita para esqueda */
/* Seletor Hierarquico
/* Todos os LI do MENU */
.menu li {
	list-style: none;  
}
a {
	color: teal;
	text-decoration: none;
}

.menu ul {
	display: flex;
	justify-content: space-around;
}

/* Sub Tag */
a:hover {
	text-decoration: underline;
}
/* pegar mais de um */
.site-subtitle,
.site-title{
	color: grey;
	text-align: center;
}

.site-subtitle{
	font-style: italic;	
}